soap-client-app/src/main/resources/wsdl/quiz.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.mile.com/collection/management/soap/Quiz" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mile.com/collection/management/soap/Quiz" targetNamespace="http://www.mile.com/collection/management/soap/Quiz">
<wsdl:types>
<xs:schema xmlns:qz="http://www.mile.com/collection/management/soap/Quiz" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mile.com/collection/management/soap/Quiz" version="1.0">
<!--  Data manipulators  -->
<xs:element name="Answer">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" ref="qz:Question"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="qz:Category"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Question">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="qz:Answer"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="qz:Category"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Category">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="qz:Answer"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="qz:Question"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<!--  REQUESTS  -->
<xs:element name="DeleteAnswerRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AnswersForQuestionRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="UploadQuestionRequest">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="val" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetCategoriesRequest">
<xs:complexType> </xs:complexType>
</xs:element>
<!--  RESPONSES  -->
<xs:element name="AnswersResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="qz:Answer"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AffectedRowsResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="result" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CategoriesResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="qz:Category"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="QuestionResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" ref="qz:Question"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="AffectedRowsResponse">
<wsdl:part element="tns:AffectedRowsResponse" name="AffectedRowsResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="DeleteAnswerRequest">
<wsdl:part element="tns:DeleteAnswerRequest" name="DeleteAnswerRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CategoriesResponse">
<wsdl:part element="tns:CategoriesResponse" name="CategoriesResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="QuestionResponse">
<wsdl:part element="tns:QuestionResponse" name="QuestionResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetCategoriesRequest">
<wsdl:part element="tns:GetCategoriesRequest" name="GetCategoriesRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AnswersForQuestionRequest">
<wsdl:part element="tns:AnswersForQuestionRequest" name="AnswersForQuestionRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="UploadQuestionRequest">
<wsdl:part element="tns:UploadQuestionRequest" name="UploadQuestionRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AnswersResponse">
<wsdl:part element="tns:AnswersResponse" name="AnswersResponse"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="QuizMainEndPoint">
<wsdl:operation name="AffectedRows">
<wsdl:output message="tns:AffectedRowsResponse" name="AffectedRowsResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="DeleteAnswer">
<wsdl:input message="tns:DeleteAnswerRequest" name="DeleteAnswerRequest"> </wsdl:input>
</wsdl:operation>
<wsdl:operation name="Categories">
<wsdl:output message="tns:CategoriesResponse" name="CategoriesResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="Question">
<wsdl:output message="tns:QuestionResponse" name="QuestionResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetCategories">
<wsdl:input message="tns:GetCategoriesRequest" name="GetCategoriesRequest"> </wsdl:input>
</wsdl:operation>
<wsdl:operation name="AnswersForQuestion">
<wsdl:input message="tns:AnswersForQuestionRequest" name="AnswersForQuestionRequest"> </wsdl:input>
</wsdl:operation>
<wsdl:operation name="UploadQuestion">
<wsdl:input message="tns:UploadQuestionRequest" name="UploadQuestionRequest"> </wsdl:input>
</wsdl:operation>
<wsdl:operation name="Answers">
<wsdl:output message="tns:AnswersResponse" name="AnswersResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="QuizMainEndPointSoap11" type="tns:QuizMainEndPoint">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="AffectedRows">
<soap:operation soapAction=""/>
<wsdl:output name="AffectedRowsResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="DeleteAnswer">
<soap:operation soapAction=""/>
<wsdl:input name="DeleteAnswerRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="Categories">
<soap:operation soapAction=""/>
<wsdl:output name="CategoriesResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Question">
<soap:operation soapAction=""/>
<wsdl:output name="QuestionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetCategories">
<soap:operation soapAction=""/>
<wsdl:input name="GetCategoriesRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="AnswersForQuestion">
<soap:operation soapAction=""/>
<wsdl:input name="AnswersForQuestionRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="UploadQuestion">
<soap:operation soapAction=""/>
<wsdl:input name="UploadQuestionRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="Answers">
<soap:operation soapAction=""/>
<wsdl:output name="AnswersResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="QuizMainEndPointService">
<wsdl:port binding="tns:QuizMainEndPointSoap11" name="QuizMainEndPointSoap11">
<soap:address location="http://localhost:8083/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>